<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Prediction</title>
</head>

<body>
    <h2>Enter Property Details</h2>
    <form action="/predict" method="post">
        <label for="Date">Last Review Date:</label>
        <input type="date" name="Date" required><br><br>

        <label for="Area">Area:</label>
        <input type="text" name="Area" required><br><br>

        <label for="Location">Location:</label>
        <select name="Location">
            <option value="Brooklyn">Brooklyn</option>
            <option value="Manhattan">Manhattan</option>
            <option value="Queens">Queens</option>
            <option value="Staten Island">Staten Island</option>
        </select><br><br>

        <label for="Type">Type:</label>
        <select name="Type">
            <option value="Private room">Private room</option>
            <option value="Shared room">Shared room</option>
        </select><br><br>

        <label for="MinDayNights">Min. Nights:</label>
        <input type="number" name="MinDayNights" required><br><br>

        <label for="CountReview">Review Count:</label>
        <input type="number" name="CountReview" step="0.1" required><br><br>

        <label for="AvgReview">Avg. Review:</label>
        <input type="number" name="AvgReview" required><br><br>

        <label for="TotalHostListings">Total Listings:</label>
        <input type="number" name="TotalHostListings" required><br><br>

        <label for="DayAvailability">Availability (days):</label>
        <input type="number" name="DayAvailability" required><br><br>

        <button type="submit">Predict Price</button>
    </form>

    <h3>{{ prediction_text }}</h3>
</body>

</html>